h1{
    font-family: Arial, Helvetica, sans-serif;
    }
h2{
    text-decoration: underline;
    }

.listas{
    background-color: aquamarine;
    border: violet solid 10px;
    width: 250px;
    }

.enlace:hover{
    background-color: crimson;
    color: white;
}

.perfil{
    background-color: wheat;
    border: red dashed;
    width: 265px;
}